$color-main:radial-gradient(circle, rgba(227, 227, 227, 0.18249298010219717) 11%, rgba(205, 205, 205, 1) 82%);
$color-main-alt:radial-gradient(circle, rgba(227, 227, 227, 0.18249298010219717) 11%, rgba(194, 195, 185, 0.926) 82%);
$color-header:radial-gradient(circle, rgba(249, 249, 249, 0.18249298010219717) 11%, rgba(240, 240, 240, 1) 82%);
$manage-main-color:default;